@media only screen  and (max-width: 1500px) {

}

@media (max-width: 1200px) {
    .main_slider .slider-caption {
        position: absolute;
        top: 35%;
        left: 10%;
        padding: 0;
        text-shadow: none;
        max-width: 400px;
    }

    .main_slider .slider-caption {
        position: absolute;
        top: 35%;
        left: 10%;
        padding: 0;
        text-shadow: none;
        max-width: 400px;
    }
}

@media (max-width: 1160px) {

}

/*Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {

    .medium-hidden {
        display: none;
    }

    .classic .cons_light_main_header {
        padding: 0;
    }

    .main_slider .slider-caption {
        bottom: 10px;
        top: 5%;
        text-align: center;
        right: 0;
        left: 0;
        margin: 0 auto;
    }

    .main_slider .slider-caption p {
        display: none;
    }

    .main_slider .slider-caption h2 {
        margin-bottom: 10px;
    }

    /* .main_slider .slider-caption a {
         display: none;
     }*/
    .cons_light_slider .get_a_quote {
        top: auto;
        right: 0;
        left: 0;
        margin: 0 auto;
        bottom: 10px;
    }

    .cons_light_slider .get_a_quote .wpcf7 .wpcf7-textarea {
        height: 100px;
    }

    .classic .cons_light_top_bar .top_bar_inner:before {
        content: '';
        width: 0%;
    }

    .classic .cons_light_top_bar .top_bar_inner {
        padding-left: 0px;
    }

    /*--------------------------------------------------------------
     ## Menus
     --------------------------------------------------------------*/
    .main-menu-toggle {
        display: block;
        cursor: pointer;
        position: absolute;
        top: -50px;
        right: 9px;
        font-size: 17px;
        padding: 10px 14px;
        z-index: 9999;
    }

    .search_main_menu {
        display: block;
        cursor: pointer;
        position: absolute;
        top: -56px;
        right: 53px;
        font-size: 17px;
        padding: 10px 14px;
        z-index: 9999;
        line-height: 2.2;
    }

    span.sub-toggle {
        display: block;
    }

    .main-menu-container-collapse {
        display: none;
        position: absolute;
        width: 100%;
        padding: 0 15px;
        left: 0;
        z-index: 999;
    }

    .main-navigation {
        background: none;
        border-top: 1px solid #e2dddd;
        position: relative;
    }

    .main-navigation ul {
        border: 1px solid #d6d3d3;
        width: 100%;
        background: #FFF;
    }

    .main-navigation ul li {
        display: block;

    }

    .main-navigation ul ul li {
        margin: 0;

    }

    .main-navigation ul li a {
        line-height: 1.2;
        padding: 14px 16px;
        border-bottom: 1px solid #d6d3d3;
    }

    .main-navigation ul.nav-menu > li > a {
        padding: 14px 16px;
    }

    .main-navigation ul li:hover > a,
    .main-navigation ul li.current-menu-item > a {
        color: #ec7612;
    }

    .main-navigation ul li ul {
        display: none;
        box-shadow: none;
        width: 100%;
        position: relative;
        left: auto;
        visibility: visible;
        opacity: 1;
        transition: none;
        transform: none;
        border: none;
        background: transparent;
    }

    .main-navigation ul li ul li {
        position: relative;
        display: block;
    }

    .main-navigation ul li ul li a {
        padding: 11px 20px;
        font-size: 13px;
    }

    .main-navigation ul li:hover > ul {
        transform: none;

    }

    .main-navigation ul li ul li ul {
        top: 0%;
        margin: 0;
        list-style: none;
        z-index: 1;
        transform: none;
        display: block;
        box-shadow: none;
        width: 100%;
        position: relative;
        left: auto;
        visibility: visible;
        opacity: 1;
        transition: none;
        border: none;
        background: transparent;
    }

    .main-navigation ul li ul li:hover > ul {
        transform: translate(0, 0);
        opacity: 1;
        visibility: visible;
    }

    .main-navigation ul li ul li {
        position: relative;
    }

    .main-navigation ul li ul li ul {
        display: none;
        box-shadow: none;
        width: 100%;
        position: relative;
        left: auto;
        visibility: visible;
        opacity: 1;
        border: none;
        transform: none;
        background: transparent;
    }

    .main-navigation div > ul > li.menu-item-has-children:before,
    .main-navigation ul ul li.menu-item-has-children:before {
        display: none;
    }

}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {

    .cons_light_top_social_icon, .team_social_icon {
        padding: 0;
        margin: 0;
        float: none;
        text-align: center;
    }

    .cons_light_top_social_icon li {
        font-size: 14px;
        list-style-type: none;
        float: none;
        text-align: center;
        margin: 0;
        padding: 0 7px;
        display: inline;
    }

    .cons_light_top_social_icon li, .team_social_icon li {
        font-size: 14px;
        list-style-type: none;
        float: none;
        text-align: center;
        margin: 0;
        padding: 0 7px;
        display: inline;
    }

    .cons_light_top_info_bar ul, .bottom-footer ul, .bottom-footer p {
        text-align: center;
    }

    .cons_light_aboutus_front img {
        margin-top: 10px;
    }

    .breadcrumb_wrapper {
        height: 100px;
    }

    .ssc-inner form input {
        font-size: 25px;
    }

    .comments-area {
        margin-bottom: 20px;
    }

    .widget-area .widget {
        margin-bottom: 30px
    }

}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .cons_light_slider .get_a_quote {
        width: 350px;
    }
}





