/*!
Theme Name: Cronstruction Light
Theme URI: http://sparklewptheme.com/
Author:
Author URI: http://sparklewptheme.com/
Description: This is a business theme for wordpress
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: business-bliss
Tags: business, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready, multipurpose

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

hitstore is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
    outline: none;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #333;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #333;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #333;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
    color: #404040;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    outline: 0;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    font-weight: 400;
    font-style: normal;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    line-height: 28px;
    color: #737373;
    /* Fallback for when there is no custom background color defined. */
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;

}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

figure {
    margin: 1em 0;
    /* Extra wide images within figure tags don't overflow the content area. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
    outline: 0;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    outline: none;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    outline: none;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    background: #f2f2f2;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 45px;
    padding: 0 15px;
    color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
    outline: none;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #FFF;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #3c3c3c;
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

a:hover, a:active {
    outline: 0;
    text-decoration: none;
}

a:not([href]):not([tabindex]) {
    color: #3c3c3c;
    text-decoration: none;
}

a:visited {
    color: #FFF;
    text-decoration: none;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
span.sub-toggle {
    display: none;
    position: absolute;
    top: 0;
    right: 2px;
    width: 42px;
    height: 42px;
    text-align: center;
    background: transparent;
    color: #212121;
    line-height: 42px;
    z-index: 99;
    cursor: pointer;
}

.main-menu-bg {
    background: #FFF;
    border-top: 1px solid #d8d8d8;
}

.main-navigation {
    vertical-align: middle;
    width: 100%;
}

.main-navigation ul {
    margin: 0;
    padding: 0 1px;
}

.main-navigation ul li {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0px;
    text-align: left;
}

.main-navigation ul ul li {
    margin: 0;
}

.main-navigation ul li a {
    display: block;
    color: #0e0e0e;
    font-size: 18px;
    padding: 10px 16px;
    line-height: 2.2;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}

.main-navigation ul.nav-menu > li > a {
    padding: 11px 16px;
}

.main-navigation ul li:hover > a,
.main-navigation ul li.current-menu-item > a,
.main-navigation ul li.active > a {
    color: #ffc107;
}

.main-navigation ul li ul {
    left: 0;
    top: 79%;
    margin: 0;
    width: 210px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 999;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    padding: 0;
}

.main-navigation ul li ul li {
    position: relative;
    display: block;
}

.main-navigation ul li ul li a {
    font-size: 13px;
}

.main-navigation ul li:hover > ul {
    opacity: 1;
    visibility: visible;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 160px;
    padding: 0;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 1;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3)
}

.main-navigation ul li ul li {
    position: relative;
}

.main-navigation ul li ul li ul {
    left: 100%;
    top: 0%;
    margin: 0;
    width: 160px;
    display: block;
    list-style: none;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: #FFF;
    z-index: 1;
    padding: 0;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.main-navigation ul li ul li:hover > ul {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
}

/*menu has children*/
.main-navigation ul > li.menu-item-has-children {
    position: relative;
}

.main-navigation ul > li.menu-item-has-children > a {
    padding-right: 25px;
}

.main-navigation div > ul > li.menu-item-has-children:before {
    content: '\f107';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
    font-size: 14px;
}

.main-navigation ul ul li.menu-item-has-children:before {
    content: '\f105';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
}

.main-navigation div > ul > li.menu-item-has-children:hover:before,
.main-navigation ul ul li.menu-item-has-children:hover:before {
    color: #ffc107;
}

.post-navigation {
    margin-bottom: 20px;
}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.comment-navigation .nav-next a,
.posts-navigation .nav-next a,
.post-navigation .nav-next a,
.comment-navigation .nav-previous a,
.posts-navigation .nav-previous a,
.post-navigation .nav-previous a {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: #000;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 25px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.comment-navigation .nav-next a:hover,
.posts-navigation .nav-next a:hover,
.post-navigation .nav-next a:hover,
.comment-navigation .nav-previous a:hover,
.posts-navigation .nav-previous a:hover,
.post-navigation .nav-previous a:hover {
    background-color: #c09209;
    border: 1px solid #c09209;
    color: #FFF;
}

.main-menu-toggle {
    display: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    /* Make sure select elements fit in widgets. */
}

aside.widget-area {
    display: block;
    width: 100%;
    float: left;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget-area ul {
    margin: 0;
}

.widget-area ul li a {
    color: #333;
}

.widget-area .widget {
    float: left;
    width: 100%;
    background: #f9f8f8;
    padding: 0 30px 30px 30px;
    position: relative;
    border-bottom: 3px solid #ffc107;
    margin-top: 0px;
    margin-bottom: 50px;
    padding: 10px 30px;
}

.widget-area .widget .widget-title {
    position: relative;
    letter-spacing: 0;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.widget-area .widget .widget-title:hover {
    color: #ffc107;
}

.widget-area .widget .widget-title:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 1px;
    content: "";
    background: #ffc107;
    transition: all 0.4s ease;
    margin: 0 auto;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_entries ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_rss ul,
.widget_pages ul,
.widget_nav_menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_recent_entries li,
.widget_meta li,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    border-bottom: 1px dotted #bebebe;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.widget_archive a,
.widget_categories a,
.widget_recent_entries a,
.widget_meta a,
.widget_recent_comments li,
.widget_rss li,
.widget_pages li,
.widget_nav_menu li {
    color: #333333;
    font-size: 16px;
    line-height: 32px;
    padding-left: 22px;
    position: relative;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget a:hover,
.widget a:hover::before,
.widget li:hover::before {
    color: #ffc107;
}

.widget_archive a::before,
.widget_categories a::before,
.widget_recent_entries a::before,
.widget_meta a::before,
.widget_recent_comments li::before,
.widget_rss li:before,
.widget_pages li:before,
.widget_nav_menu li:before {
    color: #333333;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-size: 14px;
    font-weight: 700;
    left: 0;
    position: absolute;
    top: -8px;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -ms-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.widget_categories a::before {
    content: "\f105";
    top: 0;
}

.widget_archive a::before {
    top: 0;
}

.widget_recent_entries a::before {
    content: "\f105";
}

.widget_meta a::before,
.widget_nav_menu li:before {
    content: "\f30b";
}

.widget_recent_comments li::before {
    content: "\f075";
    top: 0;
}

.widget_rss li::before {
    content: "\f09e";
    top: 0;
}

.widget_pages li:before {
    content: "\f105";
    top: 0;
}

.widget_recent_entries .post-date {
    color: #8f8f8f;
    display: block;
    font-size: 11px;
    margin-top: -5px;
    padding-left: 24px;
}

.widget_nav_menu li:before {
    top: 0;
}

/*--------------------------------------------------------------
# Widget Gallery
--------------------------------------------------------------*/

.widget_media_gallery {

}

.widget_media_gallery .gallery-item {
    float: left;
    margin: 0px 0px 15px 0px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.widget_media_gallery .gallery-item .gallery-icon {
    padding-right: 15px;
}

/*--------------------------------------------------------------
# Recent Post
--------------------------------------------------------------*/
.widget-area .recent-post-widget ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.widget-area .recent-post-widget ul li {
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.8em;
    padding: 0;
}

.widget-area .recent-post-widget ul li:last-child {
    margin-bottom: 0px;
}

.widget-area .recent-post-widget .post-image {
    float: left;
    margin-right: 12px;
}

.widget-area .recent-post-widget .post-info p {
    font-size: 12px;
    margin: 0;
}

/*--------------------------------------------------------------
# Sidebar Select
--------------------------------------------------------------*/

.widget select {
    width: 100%;
    height: 40px;
    font-size: 16px;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_product_categories ul li {
    width: 100%;
    text-align: right;
    display: inline-block;
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
}

.widget_archive ul li a,
.widget_categories ul li a,
.widget_product_categories ul li a {
    float: left;
}

.widget_categories ul li:last-of-type,
.widget_recent_comments ul li:last-of-type,
.widget_rss ul li:last-of-type,
.widget_recent_entries ul li:last-of-type,
.widget_pages ul li:last-of-type,
.widget_meta ul li:last-of-type,
.widget_nav_menu ul li:last-of-type,
.widget_archive ul li:last-of-type {
    border-bottom-width: 0;
}

.widget_tag_cloud .tagcloud {
    padding: 0;
}

.widget_tag_cloud .tagcloud a {
    background: #d8d8d8;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    border-radius: 3px;
    margin: 3px 0;
    padding: 4px 8px;
    font-size: 13px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    color: #222;
}

.widget_tag_cloud .tagcloud a:hover {
    color: #10b64e;
}

/*--------------------------------------------------------------
# Sidebar Sub Menu
--------------------------------------------------------------*/

.widget_pages ul li .children li:last-child,
.widget_nav_menu ul li .sub-menu li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# Sidebar Search
--------------------------------------------------------------*/
.widget_search .search-form {
    position: relative;
}

.widget_search .search-field::-webkit-input-placeholder,
.widget_search .search-form:-moz-placeholder,
.widget_search .search-form:-ms-input-placeholder {
    color: #868686;
}

.widget_search .search-form > label {
    margin: 0;
    width: 100%;
}

.widget_search .screen-reader-text {
    display: none;
}

.widget_search .search-field {
    background: #FFF none repeat scroll 0 0;
    border: 1px solid #fff;
    color: #FFF;
    display: inline-block;
    height: 47px;
    vertical-align: middle;
    width: 100%;
    padding: 0 10px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 0;
}

.widget_search .search-submit {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0;
    display: inline-block;
    font-size: 15px;
    height: 45px;
    margin-left: 0;
    vertical-align: middle;
    transition: all 0.5s ease 0s;
    -webkit-transition: all ease 0.5s;
    border: none;
    color: #FFF;
    font-weight: 600;
    background: #f3ba10;
    padding: 0 15px;
}

.widget_search .search-submit:hover {
    background-color: #c09209;
    border: 1px solid #c09209;
    color: #FFF;
}

/*--------------------------------------------------------------
# Calender
--------------------------------------------------------------*/

.widget_calendar tbody td {
    text-align: center;
    color: #a8a7a7;
}

.widget_calendar caption {
    font-weight: 700;
}

.calendar_wrap caption {
    background: none repeat scroll 0 0 #06284a;
    color: #fff;
    line-height: 25px;
    text-align: center;
    caption-side: top;
}

.calendar_wrap table {
    border-collapse: collapse;
    width: auto;
}

.calendar_wrap table th {
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 8px 0px;
    text-align: center;
    width: 5%
}

.calendar_wrap table td {
    border: 1px solid #ccc;
    padding: 8px 0px;
    color: #000;
    width: 5%;
    text-align: center;
}

.calendar_wrap table td #prev,
.calendar_wrap table td#next {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.calendar_wrap table td #next {
    text-align: right;
}

.calendar_wrap #today {
    color: #10b64e;
}

.custom-html-widget {
    margin: 0;
}

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.post,
.page {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

/*********************
*     Site Setting
*
***********************/

.left {
    float: left;
}

.right {
    float: right;
}

.block {
    width: 100%;
    display: block;
    float: left;
}

.padding_left_zero {
    padding-left: 0;
}

.padding_right_zero {
    padding-left: 0;
}

.link {
    display: inline-block;
    font-weight: 600;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 25px;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.btn_border {
    color: #FFF;
    border: 1px solid #ffc107;
}

.btn_border:hover {
    color: #FFF;
    background-color: #ffc107;
}

.btn_yellow {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: #000;
}

.btn_yellow:hover {
    background-color: #c09209;
    border: 1px solid #c09209;
    color: #FFF;
}

.btn_light:hover {
    background: #2c353d;
    color: #FFF;
}

section {
    padding: 60px 0;
    position: relative;
}

section.widget {
    padding: 0;
}

.section-title {
    position: relative;
    letter-spacing: 0;
    line-height: 46px;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 35px;
    text-align: center;
}

.section-title span {
    color: #ffc107;
}

.section-title:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100px;
    height: 1px;
    content: "";
    background: #ffc107;
    transition: all 0.4s ease;
    margin: 0 auto;
}

.overlay:before {
    background: rgba(0, 0, 0, 0.76);
    bottom: 0;
    height: 100%;
    content: "";
    display: block;
    left: 0;
    opacity: 0;
    position: absolute;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}

.thin_layer {

    bottom: 0;
    height: 100%;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
}

/******************************************
* General Css
********************************************/

.cons_light_top_bar {
    background: #000;
}

.top-bar-bg {
    background: #2c353d;
    border-bottom: 2px solid rgba(0, 0, 0, 0.06);
    padding: 5px 0px;
}

.cons_light_top_info_bar {
    display: block;
    vertical-align: middle;
    padding: 2px 0;
    display: inline-block;
}

.cons_light_top_info_bar ul {
    padding: 0;
    margin: 0;
}

.cons_light_top_info_bar li {
    font-weight: 500;
    color: #fff;
    list-style-type: none;
    font-size: 13px;
    padding: 0 5px 0;
    display: inline-block;
    margin-bottom: 0
}

.cons_light_top_info_bar li a {
    color: #fff;
}

.cons_light_top_info_bar li i {
    font-size: 16px;
    color: #ffc107;
    margin-right: 8px;
    margin-top: 0;
    display: inline-block;
    vertical-align: text-bottom
}

/*top bar social icom*/
.cons_light_top_social_icon, .team_social_icon {
    padding: 0;
    margin: 0;
}

.cons_light_top_social_icon li, .team_social_icon li {
    font-size: 14px;
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 7px
}

.cons_light_top_social_icon li:last-child, .team_social_icon li:last-child {
    padding-right: 0
}

.cons_light_top_social_icon li:last-child a, .team_social_icon li:last-child a {
    padding-right: 0
}

.cons_light_top_social_icon li a, .team_social_icon li a {
    color: #ffc107;
    line-height: 28px;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    padding: 0 3px
}

.team_social_icon li a {
    color: #939393;
}

.cons_light_top_social_icon li a:hover, .team_social_icon li a:hover {
    color: #FFF;
}

/**************
Main header
***************/

.cons_light_main_header {
    background: #FFF;
}

.cons_light_main_header .site-branding h1 {
    margin: 5px 0px 0px 0px;
    text-transform: capitalize;
}

.cons_light_main_header .site-branding h1 a {
    color: #000;
    font-weight: 700;
    font-size: 30px;
}

.cons_light_main_header .site-branding p {
    color: #000;
    margin: 0;
    font-size: 14px;
}

.search_main_menu {
    float: right;
    padding: 8px 0px 0px 16px;
    line-height: 3.2;
}

.search_main_menu a {
    color: #000
}

/* header layout 2*/
.classic .search_main_menu {

    padding: 8px 15px 0px 15px;
}

.classic .cons_light_main_header {
    background: #FFF;
    padding: 20px 0;
}

.classic .box {
    width: 100%;
}

.classic .box .icon-info {
    width: 40px;
    display: inline-block;
    vertical-align: top;
    font-size: 30px;
    line-height: normal;
    color: #ffc107;
}

.classic .box p {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    width: 75%;
}

.classic .cons_light_top_bar {
    background: #333;
    color: #fff;
    border-top: 2px solid #333;
    padding-top: 5px;
}

.classic .cons_light_top_bar .top_bar_inner {
    position: relative;
    padding-left: 260px;
}

.classic .cons_light_top_bar .top_bar_inner:before {
    position: absolute;
    content: '';
    width: 300%;
    height: 35px;
    background: #fff;
    bottom: 0;
    right: calc(100% - 230px);
    z-index: 9;
}

.classic .cons_light_top_bar .top_bar_inner:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 0px;
    border-bottom-width: 35px;
    border-right: 35px solid #333;
    bottom: 0;
    right: calc(100% - 230px);
    z-index: 99;
}

/*********************
*    Slider
*
***********************/

.main_slider.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    right: 50px;

}

.main_slider .slider-caption {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    padding: 0;
    text-align: center;
    text-shadow: none;
}

.main_slider .slider-caption h2 {
    color: #fff;

    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.main_slider .slider-caption p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    max-width: 800px;
    margin: 20px auto;
}

.main_slider.owl-carousel .owl-nav button.owl-next, .main_slider.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    opacity: 0;
    transition: all 0.5s ease;
}

.main_slider.owl-carousel .owl-nav button.owl-next {
    right: 100px;
}

.main_slider.owl-carousel .owl-nav button.owl-prev {
    left: 100px;
}

.main_slider.owl-carousel .owl-nav i {
    color: #999;
    font-size: 83px;
}

.main_slider .slider-text-inner {
    position: relative;
    display: block;
    height: 100%;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
    color: inherit;
    text-decoration: none;
}

.main-slider.owl-carousel:hover .owl-nav button.owl-next {
    right: 0;
    transition: 0.5s;
    opacity: 1;
    outline: 0;
}

.main-slider.owl-carousel:hover .owl-nav button.owl-prev {
    left: 0;
    opacity: 1;
    outline: 0;
}

.cons_light_slider {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
}

.cons_light_slider .get_a_quote {
    position: absolute;
    z-index: 99;
    top: 30px;
    width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.4);
    right: 10%;
}

.cons_light_slider .get_a_quote .wpcf7 label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 100%;
    color: #FFF;
}

.cons_light_slider .get_a_quote .wpcf7 .wpcf7-textarea {
    height: 200px;
}

.cons_light_slider .get_a_quote .wpcf7 p {
    margin-bottom: 0;
}

.cons_light_slider .get_a_quote .wpcf7 input[type="submit"] {
    display: inline-block;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 25px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 2px;
    position: relative;
    z-index: 9;
    font-weight: 600;
    overflow: hidden;
    background-color: #ffc107;
    border: 1px solid #ffc107;
}

.cons_light_slider .get_a_quote .wpcf7 input[type="submit"]:hover {
    background-color: #c09209;
    border: 1px solid #c09209;
    color: #FFF;
}

.cons_light_slider .get_a_quote h3, .cons_light_slider .get_a_quote p.sub-title {
    color: #FFF;
    text-align: center;
    margin-bottom: 0;
}

/*******************************
    custom-modify-slider
 *******************************/
.custom-modify-slider .owl-item {
    height: 500px;
    position: relative;
}

.custom-modify-slider .item {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.custom-modify-slider .owl-item {
    height: 600px;
    position: relative;
}

.custom-modify-slider .slider-caption {
    position: absolute;
    top: 35%;
    right: inherit;
    left: 0;
    padding: 0;
    text-align: left;
    text-shadow: none;
}

.custom-modify-slider .slider-caption h2 {
    color: #fff;

    font-weight: 800;
    text-transform: uppercase;
    font-size: 30px;
    max-width: 800px;
    margin: 0 auto;
}

.custom-modify-slider .slider-caption p {
    font-size: 18px;
    line-height: 28px;
    color: #fff;
    max-width: 800px;
    margin: 20px auto;
}

/*********************
*    Features
*
***********************/
.cons_light_feature {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background: #f6f6f6;
}

.cons_light_feature .feature-list .box {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    text-align: center;
}

.cons_light_feature .feature-list .box a figure {
    margin: 0;
}

.cons_light_feature .feature-list .box a h3 {
    position: relative;
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.cons_light_feature .feature-list .box a .bottom-content {
    padding: 65px 20px 20px 20px;
    display: block;
    position: relative;

}

.cons_light_feature .feature-list .box a:hover h3 {
    color: #ffc107;
}

.cons_light_feature .feature-list .box a .icon-box {
    width: 100px;
    text-align: center;
    line-height: 8;
    margin: 0 auto;
    border: 1px solid #ffc107;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    background: #ffc107;
}

.cons_light_feature .feature-list .box a .icon-box i {
    font-size: 48px;
    color: #ffffff;
    transition: all 0.4s ease;
}

.cons_light_feature .feature-list .box a p {
    color: #5a5a5a;
}

.cons_light_feature .feature-list .box h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60px;
    height: 1px;
    content: "";
    background: #ffc107;
    transition: all 0.4s ease;
    margin: 0 auto;
}

/******************
* Call to action
********************/
.call_to_action {
    background: url("assets/images/call_to_action.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

.call_to_action h2 {
    color: #FFF;
}

.call_to_action p {
    color: #FFF;
    margin-bottom: 0;
}

.call_to_action_two {
    background: #ffc107;
    position: relative;
    margin-top: -10px;
}

.call_to_action_two h2 {
    color: #000;
}

.call_to_action_two p {
    color: #000;
    margin-bottom: 0;
}

/*********************
*    About Us
*
***********************/
.cons_light_aboutus_front .section-title {
    text-align: left;
}

.cons_light_aboutus_front .section-title:before {
    background: none;
}

/*********************
*    Services
*
***********************/
.cons_light_services {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background: #f9f9f9;
}

.cons_light_services .service-list .box {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    border: 1px solid #ececec;
    text-align: center;
}

.cons_light_services .service-list .box a figure {
    margin: 0;
}

.cons_light_services .service-list .box a h3 {
    position: relative;
    font-size: 20px;
    color: #222222;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.cons_light_services .service-list .box .bottom-content {
    padding: 20px;
    display: block;
    position: relative;

}

.cons_light_services .service-list .box a:hover h3 {
    color: #ffc107;
}

.cons_light_services .service-list .box a .icon-box {
    width: 100px;
    text-align: center;
    line-height: 8;
    margin: 0 auto;
    border: 1px solid #ffc107;
    border-radius: 50%;
    height: 100px;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    background: #ffc107;
}

.cons_light_services .service-list .box a .icon-box i {
    font-size: 48px;
    color: #907e13;
    transition: all 0.4s ease;
}

.cons_light_services .service-list .box h3:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 60px;
    height: 1px;
    content: "";
    background: #ffc107;
    transition: all 0.4s ease;
    margin: 0 auto;
}

/*********************
*    Services Layout 2
*
***********************/
.cons_light_services_layout_two {
    background: #f4f4f4;
}

.cons_light_services_layout_two .services-list .box {
    position: relative;
    background: #ffffff;
    margin-bottom: 40px;
    padding: 20px;
    display: inline-block;
    width: 100%;
    transition: all 0.4s ease;
}

.cons_light_services_layout_two .services-list .box:hover {
    box-shadow: 0px 8px 14px 0px rgba(115, 115, 115, 0.54);
}

.cons_light_services_layout_two .services-list .box a h3 {
    position: relative;
    font-size: 22px;
    color: #222222;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
    transition: all 0.4s ease;
}

.cons_light_services_layout_two .services-list .box a .icon-box {
    width: 98px;
    text-align: center;
    line-height: 68px;
    float: left;
}

.cons_light_services_layout_two .services-list .service_content {
    float: left;
    width: calc(100% - 98px);
}

.cons_light_services_layout_two .services-list .service_content p {
    color: #a5a5a6;
}

.cons_light_services_layout_two .services-list .box a .icon-box i {
    font-size: 60px;
    color: #212529;
    transition: all 0.4s ease;
    line-height: 1.5;
}

.cons_light_services_layout_two .services-list .box:hover a .icon-box i {
    color: #ffc107;
}

/*************
*   video
**************/
.video {
    background-position: center;
    background-size: cover;
    position: relative;
}

.video h2 {
    color: #FFF;
}

.video a {
    color: #FFF;
}

.video a:hover {
    background: #ffc107;
}

#popup-video {
    width: 75%;
    margin: 0 auto;
}

#popup-video iframe {
    width: 100%;
    margin: 0 auto;
}

.mfp-close-btn-in .mfp-close {
    color: #f8f8f8;
}

/*************
*   portfolio
**************/

.co-portfolio-Section-1 {
}

/*-- Portfolio Filter --*/
.cons_light-isotop-filter-1 {
    margin-bottom: 12px;
}

.cons_light-isotop-filter-1 button {
    background-color: transparent;
    border: medium none;
    border-radius: 5px;
    color: #999999;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    height: 33px;
    letter-spacing: 0.4px;
    line-height: 23px;
    margin: 0 3px 5px;
    padding: 5px 17px;
    text-transform: uppercase;
    vertical-align: top;
}

.cons_light-isotop-filter-1 button.active {
    background: #ffc107;
    color: #ffffff;
}

/*-- Portfolio Grid --*/
.cons_light-isotop-grid-1 {
}

/*-- Portfolio Item --*/
.cons_light-isotop-item-1 {
}

.cons_light-isotop-item-1 a {
    -webkit-box-shadow: 0 0 50px rgba(66, 66, 66, 0.15);
    box-shadow: 0 0 50px rgba(66, 66, 66, 0.15);
    display: block;
    position: relative;
    text-align: center;
}

.cons_light-isotop-item-1 a::before {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffedb8), to(#ffc107));
    background-image: -o-linear-gradient(to bottom, #ffedb8 0%, #ffc107 100%);
    background-image: linear-gradient(to bottom, #ffedb8 0%, #ffc107 100%);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.cons_light-isotop-item-1 a:hover::before {
    opacity: 0.9;
}

.cons_light-isotop-item-1 a img {
    width: 100%;
}

.cons_light-isotop-item-1 a .portfolio-content {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9;
}

.cons_light-isotop-item-1 a:hover .portfolio-content {
    opacity: 1;
}

.cons_light-isotop-item-1 a .portfolio-content i {
    color: #ffffff;
    display: block;
    font-size: 30px;
    margin-bottom: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.cons_light-isotop-item-1 a:hover .portfolio-content i {
    margin-bottom: 22px;
}

.cons_light-isotop-item-1 a .portfolio-content .title {
    color: #ffffff;
    display: block;
    font-size: 18px;
    line-height: 28px;
}

/**************
* Counter layout two
***************/
.cons_light_counter {
    min-height: 300px;
    background: transparent;
    background: center bottom;
    background-size: cover;
}

.cons_light_counter h2 {
    color: #FFF;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;
}

.cons_light_counter .box {
    margin-top: 25px;
    text-align: center;
}

.cons_light_counter h3 {
    font-family: 'Rajdhani', sans-serif;
    color: #ffc107;
    font-size: 40px;
}

.cons_light_counter h4 {
    font-size: 15px;
    color: #FFF;
    text-transform: capitalize;
}

/*********************
*    team
*
***********************/
.cons_light_team {
    width: 100%;
    background: #f9f8f8;
    display: block;
}

.cons_light_team .box {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.cons_light_team .box .team-bottom {
    background: #FFF;
    padding: 10px;
}

.cons_light_team .box .team-bottom h4 {
    margin-bottom: 0;
}

.cons_light_team .box .team-bottom h4 a {
    color: #404040;
    font-weight: 500;
    font-size: 18px;
}

.cons_light_team .box .team-bottom span {
    text-align: center;
    display: block;
    color: #ffc107;
}

.cons_light_team .box figure {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
}

.cons_light_team .box figure img {
    transition: all 0.4s ease; /* Animation */
}

.cons_light_team .box figure:hover img {
    -webkit-transform: scale(1.1); /* WebKit */
    -moz-transform: scale(1.1); /* Mozilla */
    -o-transform: scale(1.1); /* Opera */
    -ms-transform: scale(1.1); /* Internet Explorer */
    transform: scale(1.1); /* CSS3 */
}

.cons_light_team .box figure:hover .overlay:before {
    bottom: 0;
    opacity: 0.9;
}

.cons_light_team .box figure:hover ul {
    top: 45%;
    visibility: visible;
}

ul.cons_light_team_social {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60%;
    z-index: 999;
    width: 100%;
    text-align: center;
    left: 0;
    visibility: hidden;
    font-size: 25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

ul.cons_light_team_social li {
    font-size: 14px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0 7px;
    background: #FFF;
}

ul.cons_light_team_social li a {
    color: #ffc107;
    line-height: 28px;
    padding: 0 3px;

}

ul.cons_light_team_social li a:hover {
    color: #1a3e86;
    line-height: 28px;
    padding: 0 3px;
}

/*********************
*    team Layout Two
*
***********************/
.cons_light_team_layout_two {
    width: 100%;
    background: #f9f8f8;
    display: block;
}

.cons_light_team_layout_two .box {
    text-align: center;
    margin-bottom: 25px;
    padding: 80px 20px 20px 20px;
    background: #FFF;
    position: relative;
    margin-top: 70px;
}

.cons_light_team_layout_two .box h4 {
    margin-bottom: 0;
}

.cons_light_team_layout_two .box h4 a {
    color: #404040;
    font-weight: 500;

}

.cons_light_team_layout_two .box span {
    text-align: center;
    display: block;
    color: #ffc107;
}

.cons_light_team_layout_two .box figure {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 5px solid #ffc107;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    top: -70px;
}

.cons_light_team_layout_two ul.cons_light_team_social {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    z-index: 999;
    width: 100%;
    text-align: center;
    left: 0;
    visibility: visible;
    font-size: 25px;
}

.cons_light_team_layout_two ul.cons_light_team_social li {
    font-size: 14px;
    list-style-type: none;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 0 7px;
    background: #FFF;
}

.cons_light_team_layout_two ul.cons_light_team_social li a {
    color: #ffc107;
    line-height: 28px;
    padding: 0 3px;

}

.cons_light_team_layout_two ul.cons_light_team_social li a:hover {
    color: #1a3e86;
    line-height: 28px;
    padding: 0 3px;
}

/********************
*   Footer
*********************/

footer .site-branding {
    margin-bottom: 20px;
}

footer .footer-main {
    background: #06284a;
    text-align: left;
    padding: 40px 0;
    color: #878787;
}

footer .footer-main ul {
    padding: 10px 0;
    margin: 0;
    text-align: center;
    border-top: none;
}

footer.site-footer {
    padding-top: 60px;
    color: #878787;
    background: #282828 url(assets/images/footer_bg.png) no-repeat bottom right;;
}

footer.site-footer .widget {
    margin: 0;
}

footer.site-footer .widget ul li {
    font-size: 14px;
    list-style-type: none;
    display: block;
    text-align: left;
    margin: 0;
    line-height: 30px;
}

footer.site-footer .widget ul li a {
    color: #878787;
    line-height: 28px;
    -moz-transition-duration: .3s;
    -ms-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    padding: 0 3px;
    font-size: 14px;
}

footer.site-footer .widget ul li a:hover {
    color: #ffc107;
}

footer.site-footer .widget_nav_menu ul li {
    padding: 0px 7px 0px 10px;
    border: none;
}

footer.site-footer .widget .widget-title {
    font-size: 20px;
    color: #ffc107;
}

footer.site-footer .widget_nav_menu ul li:before {
    content: "-";
    color: #878787;
    position: absolute;
    left: 0;
    top: 0;
}

/*recent post*/

footer.site-footer .recent-post-widget ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer.site-footer .recent-post-widget ul li {
    margin-bottom: 15px;
    overflow: hidden;
    font-size: 15px;
    line-height: 1.8em;
    padding: 0;
    border-bottom: 1px solid #494949;
}

footer.site-footer .recent-post-widget ul li:last-child {
    margin-bottom: 0px;
    border: none;
}

footer.site-footer .recent-post-widget .post-image {
    float: left;
    margin-right: 12px;
    width: 50px;
    display: block;
}

footer.site-footer .recent-post-widget .post-info {
    width: calc(100% - 70px);
    float: left;
    display: block;
}

footer.site-footer .recent-post-widget .post-info a {
    color: #878787;
}

footer.site-footer .recent-post-widget .post-info p {
    font-size: 12px;
    margin: 0;
}

footer.site-footer .widget_about p {
    color: #878787;
}

footer.site-footer .widget_about h2 a {
    margin: 0px;
    color: #FFF;
}

footer.site-footer .widget_about .site-description {
    color: #FFF;
    margin-bottom: 0px;
}

.copyright p {
    color: #878787;
}

.copyright a {
    color: #ffc107;
}

.bottom-footer {
    background: #363636;;
    padding: 10px;
}

.bottom-footer p {
    margin: 0
}

.bottom-footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

.bottom-footer ul li {
    display: inline-block;
    margin-left: 20px;
}

.bottom-footer ul li a {
    color: #878787;
}

.bottom-footer ul li a:hover {
    color: #ffc107;
}

/************************
* Client Logo
***************************/

.cons_light_client_logo .client_logo.owl-carousel .owl-nav button.owl-next, .cons_light_client_logo .client_logo.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 24%;
    border: 1px solid #c6c3c3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFF;
    transition: all 0.5s ease;
    color: #c6c3c3;
    opacity: 0;
}

.cons_light_client_logo .client_logo.owl-carousel:hover button.owl-next, .cons_light_client_logo .client_logo.owl-carousel:hover button.owl-prev {
    opacity: 0.8;
}

.cons_light_client_logo .client_logo.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.cons_light_client_logo .client_logo.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.cons_light_client_logo .client_logo.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0px;
}

/************************
* Client Logo Layout Two
***************************/

.cons_light_client_logo_layout_two {
    background: #f9f8f8;
}

.cons_light_client_logo_layout_two .box {
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.cons_light_client_logo_layout_two .client_logo.owl-carousel .owl-nav button.owl-next, .cons_light_client_logo_layout_two .client_logo.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 24%;
    border: 1px solid #c6c3c3;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFF;
    transition: all 0.5s ease;
    color: #c6c3c3;
    opacity: 0;
}

.cons_light_client_logo_layout_two .client_logo.owl-carousel:hover button.owl-next, .cons_light_client_logo_layout_two .client_logo.owl-carousel:hover button.owl-prev {
    opacity: 0.8;
}

.cons_light_client_logo_layout_two .client_logo.owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.cons_light_client_logo_layout_two .client_logo.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.cons_light_client_logo_layout_two .client_logo.owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    right: 0px;
    left: 0px;
}

/************************
* Blog
***************************/
.cons_light_blog-list-area .blog-list-box {
    background: #f9f8f8;
    padding: 0 30px 30px 30px;
    position: relative;
    border-bottom: 3px solid #ffc107;
    margin-top: 30px;
    margin-bottom: 70px;
}

.cons_light_blog-list-area .blog-list-box figure {
    margin: 0;
    position: relative;
    top: -30px;
}

.cons_light_blog-list-area .blog-list-box h4 a {
    color: #ffc107;
}

.blog-list-text-info {
    margin-bottom: 15px;
}

.cons_light_blog-list-area span {
    color: #696969;
    margin-right: 11px;
}

ul.single-item-comment-view {
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

ul.single-item-comment-view li {
    color: #696969;
    display: inline;
    font-size: 12px;
    margin-right: 17px;
}

ul.single-item-comment-view li i {
    font-size: 14px;
    margin-right: 8px;
}

.button-bottom {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    text-align: center;
}

/***********
*
*   Testimonials
************/
.cons_light_testimonial {
    padding: 70px 0;
    background: url("assets/images/testimonial-bg.jpg");
    background-position: bottom center;
    position: relative;
}

.cons_light_testimonial .item {
    text-align: center;
}

.cons_light_testimonial .client-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid #ffc107;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.cons_light_testimonial p {
    opacity: .8;
    max-width: 800px;
    color: #c6c0c0;;
    margin: 30px auto;
}

.cons_light_testimonial h3 {
    color: #c6c0c0;
    font-size: 20px;
}

.cons_light_testimonial .client-text h4 {
    margin-bottom: 0px;
    color: #ffc107;
    font-size: 18px;
}

.cons_light_testimonial .owl-carousel .owl-nav button.owl-next, .cons_light_testimonial .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    transition: all 0.5s ease;
}

.cons_light_testimonial .owl-carousel .owl-nav button.owl-next,
.cons_light_testimonial .owl-carousel .owl-nav button.owl-prev {
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 9px 20px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 1;
    outline: 0;
}

.cons_light_testimonial .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.cons_light_testimonial .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

/***********
*
*   Testimonials layout two
************/
.cons_light_testimonial_layout_two {
    padding: 70px 0;
    background: url("assets/images/testimonial-bg.jpg");
    background-position: bottom center;
    position: relative;
}

.cons_light_testimonial_layout_two .testimonial_client {
    display: inline-block;
    width: 100%;
}

.cons_light_testimonial_layout_two .testimonial_client_image {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 5px solid #ffc107;
    text-align: left;
    overflow: hidden;
    float: left;
    display: block;
}

.cons_light_testimonial_layout_two .testimonial_client_detail {
    float: left;
    display: block;
    margin-top: 30px;
    padding-left: 20px;
}

.cons_light_testimonial_layout_two .testimonial_client_detail h3 {
    color: #ffc107;
}

.cons_light_testimonial_layout_two .testimonial_client_detail h4 {
    color: #FFF;
}

.cons_light_testimonial_layout_two .testimonial_client_content {
    padding: 30px;
    background: #d8a613;
}

.cons_light_testimonial_layout_two .testimonial_client_content p {
    color: #FFF;
}

.cons_light_testimonial_layout_two .owl-carousel .owl-nav button.owl-next, .cons_light_testimonial_layout_two .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    top: 45%;
    transition: all 0.5s ease;
}

.cons_light_testimonial_layout_two .owl-carousel .owl-nav button.owl-next,
.cons_light_testimonial_layout_two .owl-carousel .owl-nav button.owl-prev {
    color: #000;
    font-size: 14px;
    margin: 5px;
    padding: 9px 20px !important;
    background: #fff;
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 5px 28px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0;
    outline: 0;
}

.cons_light_testimonial_layout_two .client_logo.owl-carousel:hover button.owl-next, .cons_light_testimonial_layout_two .client_logo.owl-carousel:hover button.owl-prev {
    opacity: 0.8;
}

.cons_light_testimonial_layout_two .owl-carousel .owl-nav button.owl-next {
    right: 0;
}

.cons_light_testimonial_layout_two .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}

.testimonial_client_content {
    width: 100%;
    display: block;
}

/******************
* search
********************/

.ss-content {
    background: rgba(255, 255, 255, 0.92);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999999;
    top: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
}

.ss-close {
    font-size: 51px;
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.8;
}

.ss-close:hover {
    opacity: 1;
}

.ssc-inner {
    height: 100vh;
    display: table;
    margin: 0 auto;
    width: 50%;
}

.ssc-inner form {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    position: relative;
}

.ssc-inner form input {
    background: transparent;
    border: none;
    width: 100%;
    height: 90px;
    color: #000;
    line-height: 88px;
    font-size: 30px;
    border-bottom: 4px solid #ffc107;
    font-weight: 300;
    padding-right: 60px;
}

.ssc-inner form button {
    border: none;
    background: transparent;
    color: #000;
    position: absolute;
    right: 0px;
    margin-top: 33px;
}

.ss-content-act {
    visibility: visible;
    opacity: 1;
}

/*************************************************************************************

Breadcrumbs section

**************************************************************************************/

.breadcrumb {
    padding: 30px 0px 13px 0px;
    margin-bottom: 0px;
    background-size: cover;
    background: #06284a;

}

.breadcrumb.transparent_header_breadcrumb {
    padding: 80px 0px 13px 0px;

}

.breadcrumb_wrapper {
    height: 250px;
    display: table;
}

.breadcrumb h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
    line-height: 110%;
    text-transform: capitalize;
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb nav {
    display: table-cell;
    vertical-align: middle;
}

.breadcrumb ul {
    text-align: right;
    color: #FFF;
    padding: 0;
    margin: 0;
}

.breadcrumb ul li {
    display: inline;
    font-size: 16px;
    color: #ffc10a;
    font-weight: 500;
}

.breadcrumb ul li a {
    color: #ffc10a;
    transition: 0.8s ease;
}

.breadcrumb ul li a:after {
    content: ">";
    color: #ffc10a;
    padding: 0px 8px;
    position: relative;
    top: 1px;
}

.breadcrumb ul li:last-child a:after {
    content: "";

}

/******************
*  Contact
********************/
.cons_light_contact .contact-icon .contact-inner a {
    font-size: 16px;
    display: block;
    color: #737373;
    margin-bottom: 12px;
}

.cons_light_contact .contact-icon .contact-inner a i {
    font-size: 16px;
    text-align: center;
    margin-right: 15px;
    width: 50px;
}

.cons_light_contact .contact-icon .contact-inner a span {
    line-height: 30px;
    overflow: hidden;
}

.cons_light_contact .contact_form .wpcf7 label {
    display: inline-block;
    margin-bottom: .5rem;
    width: 100%;
}

.cons_light_contact .contact_form .wpcf7 .wpcf7-textarea {
    height: 200px;
}

.cons_light_contact .contact_form .wpcf7 p {
    margin-bottom: 0;
}

.cons_light_contact .contact_form .wpcf7 input,
.cons_light_contact .contact_form .wpcf7 .wpcf7-textarea {
    background: #f2f2f2;
}

.cons_light_contact .contact_form .wpcf7 input[type="submit"] {
    display: inline-block;
    font-weight: 400;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 25px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    position: relative;
    z-index: 9;
    overflow: hidden;
    background-color: #ffc107;
    border: 1px solid #ffc107;
}

.contact_detail {
    background: #f2f2f2;
    padding: 20px;
}

.cons_light_map_responsive {
    overflow: hidden;
    position: relative;
    height: 650px;
    width: 100%;
    padding: 0;
}

.cons_light_map_responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/*********************
* comment form
***********************/
#respond {
    clear: both;
    display: block;
    padding: 30px;
    margin-top: 50px;
    background: #f9f8f8;
    border-bottom: 3px solid #ffc107;
}

#respond input[type="text"], #respond input[type="email"], #respond input[type="url"], #respond input[type="password"], #respond input[type="search"], #respond input[type="number"], #respond input[type="tel"], #respond input[type="range"], #respond input[type="date"], #respond input[type="month"], #respond input[type="week"], #respond input[type="time"], #respond input[type="datetime"], #respond input[type="datetime-local"], #respond input[type="color"], #respond textarea {
    background: #ffffff;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    height: 45px;
    padding: 0 15px;
    color: #fff;
}

#respond textarea {
    height: 200px;
}

.comments-area {
    margin-top: 20px;
}

#respond .form-submit .submit {
    display: inline-block;
    padding: 12px 15px;
    border: 1px solid #ffc107;
    text-align: center;
    background: #ffc107;
    color: #fff;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

ol.comment-list {
    clear: both;
    display: block;
    padding: 30px;
    width: 100%;
    background: #f9f8f8;
    border-bottom: 3px solid #ffc107;
}

ol.comment-list li {
    list-style-type: none
}

.vcard .avatar {
    float: left;
    margin-right: 40px;
    width: 120px;
    height: 120px;
}

.comments-area .fn {
    display: inline-block;
    font-size: 18px;
    color: #ffc107;
}

/******************
* Skills
********************/
.cons_light_progres_bar_skill .skill {
    margin-bottom: 22px;
    position: relative;
    overflow: hidden;

}

.cons_light_progres_bar_skill .skill > p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
}

.cons_light_progres_bar_skill .skill:before {
    width: 100%;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: #959595;
    bottom: 0;
}

.cons_light_progres_bar_skill .skill-bar {
    width: 100%;
    height: 5px;
    background: #ffc107;
    display: block;
    position: relative;
}

.cons_light_progres_bar_skill .skill-bar span {
    position: absolute;
    top: -30px;
    font-size: 18px;
    padding: 3px 0;
    font-weight: 500;
}

.cons_light_progres_bar_skill .skill-bar {
    position: relative;

}

.cons_light_progres_bar_skill .skill-count {
    right: 0;
}

.cons_light_progres_bar_skill .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #ffc107;
    background: #ffc107;
    font-weight: normal;
    color: #ffffff;
}

.cons_light_progres_bar_skill .ui-accordion .ui-accordion-header {
    outline: 0;
    font-weight: 600;
    color: #000;
    font-size: 18px;
    transition: all 0.3s ease;
}

.cons_light_progres_bar_skill .ui-accordion .ui-accordion-header:after {
    content: '\f107';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    color: #0e0e0e;
    right: 9px;
    font-size: 14px;
}

.cons_light_progres_bar_skill .ui-accordion .ui-accordion-content {
    padding: 10px 10px;
    border-top: 0;
    overflow: auto;
}

.cons_light_progres_bar_skill .ui-accordion .ui-accordion-header-active:after {
    content: '\f106';
}

.cons_light_progres_bar_skill .ui-icon-triangle-1-e, .cons_light_progres_bar_skill .ui-state-active .ui-icon, .ui-button:active .ui-icon {
    display: none;
}

.cons_light_progres_bar_skill .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br, .ui-corner-all, .cons_light_progres_bar_skill .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-radius: 0;
}

/*********************
*    Search page
*
***********************/
.cons_light_article_list {
    width: 100%;
    display: block;
}

.cons_light_article_list .blog-list-box {
    text-align: left;
    margin-bottom: 30px;
    display: flex;
    background: #f9f8f8;
    padding: 30px;
    position: relative;
    border-bottom: 3px solid #ffc107;
    margin-top: 30px;
}

.cons_light_article_list .blog-list-box > div {
   float: left;
}

.cons_light_article_list .blog-image{
    width:  80%;
}

.cons_light_article_list .blog-list-content {
    padding-left: 20px;
}

.cons_light_article_list .blog-list-box h4 a {
    color: #ffc107;
}

.cons_light_article_list .blog-list-text-info {
    margin-bottom: 15px;
}

.cons_light_article_list span {
    color: #696969;
    margin-right: 11px;
}
.cons_light_article_list ul.single-item-comment-view {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
}
.cons_light_article_list .button-bottom {
    position: relative;
    text-align: left;
}

/******************/
.fa-minus:before {
    content: "\f068";
}

.sidebar {
    position: relative;
}

.sticky-sidebar.fixed {
    position: fixed;
    top: 0;
}